@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;

	color-scheme: light;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	scroll-behavior: smooth;
}

/* Navbar */
#hamburger-btn.open {
	-webkit-animation: pulse 1s linear infinite alternate;
	        animation: pulse 1s linear infinite alternate;
}

#hamburger-btn.open #top-line {
	-webkit-transform: rotate(135deg) translateX(11px);
	    -ms-transform: rotate(135deg) translateX(11px);
	        transform: rotate(135deg) translateX(11px);
}

#hamburger-btn.open #bottom-line {
	-webkit-transform: rotate(45deg) translateX(-11px) translateY(-1px);
	    -ms-transform: rotate(45deg) translateX(-11px) translateY(-1px);
	        transform: rotate(45deg) translateX(-11px) translateY(-1px);
}

#pages .caret-down,
#pages-mobile .caret-down {
	display: inline;
}

#pages .caret-up,
#pages-mobile .caret-up {
	display: none;
}

#pages.modal-opened .caret-down,
#pages-mobile.modal-opened .caret-down {
	display: none;
}

#pages.modal-opened .caret-up,
#pages-mobile.modal-opened .caret-up {
	display: inline;
}

/* Animations */
@-webkit-keyframes pulse {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes pulse {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Home */
#scroll-container::-webkit-scrollbar,
#scroll-container-2::-webkit-scrollbar {
	display: none;
}

/* About */
.about-hero-btn {
	-webkit-animation: chevron-slide-vertical 1.5s ease-out infinite;
	        animation: chevron-slide-vertical 1.5s ease-out infinite;
}

@-webkit-keyframes chevron-slide-vertical {
	0% {
		-webkit-transform: none;
		        transform: none;
	}
	20% {
		-webkit-transform: translateY(36px);
		        transform: translateY(36px);
		opacity: 0;
	}
	30% {
		-webkit-transform: translateY(-36px);
		        transform: translateY(-36px);
		opacity: 0;
	}
	90% {
		-webkit-transform: none;
		        transform: none;
	}
	100% {
		-webkit-transform: none;
		        transform: none;
	}
}

@keyframes chevron-slide-vertical {
	0% {
		-webkit-transform: none;
		        transform: none;
	}
	20% {
		-webkit-transform: translateY(36px);
		        transform: translateY(36px);
		opacity: 0;
	}
	30% {
		-webkit-transform: translateY(-36px);
		        transform: translateY(-36px);
		opacity: 0;
	}
	90% {
		-webkit-transform: none;
		        transform: none;
	}
	100% {
		-webkit-transform: none;
		        transform: none;
	}
}

/* Footer */
.rotating-link {
	-webkit-animation: rotate 5s linear infinite;
	        animation: rotate 5s linear infinite;
}

.scroll-up:hover .rotating-link {
	animation-direction: reverse;
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

@keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}