@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;

	color-scheme: light;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Navbar */
#hamburger-btn.open {
	animation: pulse 1s infinite alternate;
}

#hamburger-btn.open #top-line {
	transform: rotate(135deg) translateX(11px);
}

#hamburger-btn.open #bottom-line {
	transform: rotate(45deg) translateX(-11px) translateY(-1px);
}

#pages .caret-down,
#pages-mobile .caret-down {
	display: inline;
}

#pages .caret-up,
#pages-mobile .caret-up {
	display: none;
}

#pages.modal-opened .caret-down,
#pages-mobile.modal-opened .caret-down {
	display: none;
}

#pages.modal-opened .caret-up,
#pages-mobile.modal-opened .caret-up {
	display: inline;
}

/* Animations */
@keyframes pulse {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Home */
#scroll-container::-webkit-scrollbar,
#scroll-container-2::-webkit-scrollbar {
	display: none;
}

/* About */
.about-hero-btn {
	animation: chevron-slide-vertical 1.5s ease-out infinite;
}

@keyframes chevron-slide-vertical {
	0% {
		transform: none;
	}
	20% {
		transform: translateY(36px);
		opacity: 0;
	}
	30% {
		transform: translateY(-36px);
		opacity: 0;
	}
	90% {
		transform: none;
	}
	100% {
		transform: none;
	}
}
